.AiFunctinalities {
  width: 1440px;
  height: 792px;
  flex-shrink: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  background: #0c070f;
  display: flex;
  justify-content: space-between;
}

.left {
  /* border: 1px solid red; */
}

.right {
  /* border: 1px solid blue; */
  padding-right: 72px;
}

.roboImg {
  width: 200px;
  height: 330px;
  flex-shrink: 0;
  margin-left: 91px;
  margin-top: 51px;
  /* border: 1px solid red; */
}

.p1 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 56px;
  margin-top: 0;
  background: linear-gradient(93deg, #d69f31 32.86%, #926c1f 82.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p2 {
  width: 413px;
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 56px;
}
.p3 {
  width: 595px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 56px;
}
