.FunctionalityCart {
  display: flex;
  width: 300px;
  padding: 51px 0px 71.6px 0px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  background: #151516;
}

span {
  color: #eaeaea;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 157px;
  text-align: center;
}
